.grid-container{
    background-color: rgb(183, 183, 238);
    height: 98vh;
    width: 55em;
    position: absolute;
    left: 18%;
}
.grid-1{
    display: flex;
}
.dashboard{
    background-color: rgb(110, 91, 219);
    height: 98vh;
    width: 14em;
}
.dashb_logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 14em;
    margin: 10px;
    color: white;
    font-size: 12px;
}
.dashb_icon{
    margin-top: 30px;
}
.icons{
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95px;
    margin-left: 20px;
}
.header{
    background-color: rgb(202, 34, 218);
    width: 44em;
    height: 8em;
}
.grid-2{
    display: grid;
    grid-template-rows: repeat(3,60px);
    grid-template-columns: repeat(3,60px);
    position: absolute;
    top: 30%;
    left: 30%;
}
.left{
    display: grid;
    grid-template-columns: repeat(2,100px);
}
.super_cool_project{
    background-color: blueviolet;
    width: 10em;
    height: 10em;
}
.less_cool_project{
    background-color: rgb(156, 71, 71);
    width: 10em;
    height: 10em;
    margin-left: 5em;

}
.impossible_app{
    background-color: rgb(190, 212, 95);
    width: 10em;
    height: 10em;
    
}
.easy_peasy_app{
    background-color: rgb(226, 162, 43);
   
}
.money_maker{
    background-color: rgb(57, 57, 184);
  
}
.trending{
    background-color: rgb(231, 38, 96);
  
}
.right{
    position: absolute;
    left: 20em;
}
.announcement{
    background-color: rgb(173, 115, 28);
  
}
.ad_blocker{
    background-color: rgb(62, 190, 147);
  
}
